.mainSvg {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.circle {
  transition: transform 3s ease-in-out;
}

.slice-path {
  fill-opacity: 0.4;
}

.text-path-name {
  font-size: 8px;
  text-anchor: start;
}